:root {

  --primary: #00C896;
  --primary-hover: #00b686;

  --bg: #ffffff;
  --surface: #f8fafc;
  --card: #ffffff;

  --text: #111827;
  --text-light: #6b7280;

  --border: #e5e7eb;

  --shadow: 0 10px 30px rgba(0,0,0,.08);

  --transition: .35s ease;

}

[data-theme="dark"]{

  --bg:#070b13;

  --surface:#0f172a;

  --card:#131d2d;

  --text:#ffffff;

  --text-light:#cbd5e1;

  --border:rgba(255,255,255,.08);

  --shadow:0 15px 35px rgba(0,0,0,.45);

}